h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    color: inherit;
    text-decoration: none;
}



button {
    cursor: pointer;
} 

body { 
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #ffffff;
}

.accent-color { 
    color: #4d5ae5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
} 
 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
} 




/*============= PAGE HEADER ========= */
.page-header { 
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;

}

.header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

}

.page-nav {
    display: flex;
    align-items: center;
}



.menu {
    display: flex;
    gap: 40px;
    
}

.page-address{ 
    font-style: normal;
}

.page-logo { 
    font-weight: 700;
    font-family: "Raleway", sans-serif; 
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5; 
        margin-right: 76px;
}
.color-text { 
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}


.menu-link { 
    display: block;
    padding: 24px 0;
    font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42; 
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        





.menu-link.active { 
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.active::after { 
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;

}

.menu-link:hover,
.menu-link:focus { 
    color:#404bbf;
}

.contact-list {
    display: flex;
    gap: 40px;
    

}
 
.contact-list-item {
    list-style: none;
    
    }
    


.contact-list-link { 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.contact-list-link:hover,
.contact-list-link:focus { 
    color:#404bbf
}

/*============= /PAGE HEADER ========= */


/*============= HERO SECTION ======== */ 
.hero-section {
    background-color: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.main-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px;

}


.order-service-btn {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 48px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.order-service-btn:hover,
.order-service-btn:focus {
    color: #ffffff;
    background-color: #404bbf;
}



/*============= /HERO SECTION ======== */ 



/*============ BENEFITS SECTION ====== */
 .icon-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
 }


.benefits-list-title { 
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;

}

.benefits-list-text { 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
} 

.benefits-list { 
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}





/*============ /BENEFITS SECTION ====== */

/*============ Team Section ====== */
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.avatar-container {
    padding: 32px 0;
}

.team-list-fullname {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;


}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;

}

.icons-media { 
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap:24px;
}

.media-icons { 
    
        width: 40px;
        height: 40px;
}


.link-social-media { 
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.link-social-media:hover {
    background-color: #404bbf;
 } 

 .link-social-media:focus { 
    background-color: #404bbf;
 }

.social-media-icons { 
    fill:#F4F4FD;
    
}

/*============ /Team Section ====== */


/*===========  Our Portfolio ====== */

.our-portfolio { 
    padding: 120px 0;
}

.portfolio-img-wrapper { 
    position: relative;
    overflow: hidden;
}




.portfolio-list-item:hover { 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.portfolio-list-item:hover .portfolio-overlay{ 
    transform: translateY(0%);
}



.portfolio-overlay { 
    position: absolute; 
    top: 0;
    font-size: 16px;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    
}


.section-title { 
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
       
}

.portfolio-list { 
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
       
}

.portfolio-list-item { 
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.list-container { 
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    background-color: #ffffff;
}

.portfolio-list-title { 
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        background-color: #ffffff;
        margin-bottom: 8px;
}

.portfolio-description { 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}





/*=========== / Our Portfolio ====== */

/*=========== Page Footer ========= */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;

}

.footer-container {
    display: flex;
    align-items: baseline;
    gap: 0;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.page-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0;
}

.footer-text {
    color: #f4f4fd;
}

.logo-description { 
    margin-right: 120px;
}

.description-social-media { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;
}

.media-icons-footer { 
    display: flex;
    gap:16px;

}

.list-media-icons { 
    width: 40px;
    height: 40px;
    
}

.icons-media-link { 
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-media-link:hover { 
    background-color: #31d0aa;
}

.icons-media-link:focus { 
    background-color: #31d0aa;
}

.link-subscribe { 
    margin-left: 80px;
}

.subscribe-link { 
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.email-subscribe { 
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #ffffff;

}

.input::placeholder { 
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        padding-left: 16px;
}

.subscribe-btn { 
    
    border-radius: 4px;
        padding-left: 8px;
        padding-right: 24px ;
        min-width: 165px;
        height: 40px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        background-color: #4d5ae5;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;


}

.link-subscribe-send { 
    display: flex;
    gap: 24px;
}

.subscribe-button { 
    padding-left: 24px;
    position: relative;
}

.button-subscribe { 
    fill: #fff;
    margin-left: 16px;
}

/*=========== /Page Footer ========= */

.backdrop {
    position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
    
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
}



.backdrop.is-open {
opacity: 1;
    pointer-events: auto;
   
}

.modal {
    position: relative;
        width: 408px;
        min-height: 584px;
        overflow: auto;
        padding: 40px;
        border-radius: 4px;
        background-color: #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%);
   
}



.modal-close-btn { 
    position:absolute;
    border: none;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding:0;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 24px;
    right:24px;
    
}



.modal-close-btn:hover { 
    background-color: #404bbf;
    fill:#FFFFFF;
    border: none;
}

.modal-close-btn:focus { 
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.close-button { 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan { 
    max-width: 360px;
    font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 24px;
        margin-bottom: 16px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;

}

.review-form-field-label {
    display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        padding-bottom: 4px;
        margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    letter-spacing: -0.02em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px ;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.review-form-input:focus {
    outline: none;
    border-color: #4d5ae5; 
}

.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.review-form-input:focus + .review-form-input-icon {
    fill: #4d5ae5;
}

.review-form-comment {
    width: 100%;
    height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
    background-color: transparent;
    padding: 16px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
    outline: none;
    border-color: #4d5ae5;
}

.review-form-field { 
    margin-bottom: 16px;
}

.review-comment { 
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-comment:focus { 
    border-color: #4D5AE5;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}


.review-form-checkbox-label {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
    
}

.review-form-checkbox:checked+.review-form-checkbox-label>.review-form-custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.review-form-checkbox:focus+.review-form-checkbox-label>.review-form-custom-checkbox {
    border-color: #404bbf;
}

.review-form-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    margin-right: 8px;
   fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-policy-link {
    text-decoration: underline;
}

.review-form-submit-btn {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    background-color: #4D5AE5;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.review-submit-btn { 
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
}